.btn-sm::after {
    display: inline-block;
    content: "\1F441";
    font-size: 1.5em;
    color: white;
  }

.btn-sm {
    background: #017069;
    border: none;
}
.card-body img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.buttons {
    display: flex;
    justify-content: space-between;
}