.col-md-6 li{
    display: flex;
    justify-content: space-between;
    border: none;
}
.col-md-6 h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #014D48;
}

.buttons button{
    border-radius: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #017069;
    border: none;
    background: none;
    height: 100%;
}

.buttons .next::after {
    content:'\2192';
    color: #017069;
    font-size: 22px;
    padding-left: 10px;
    text-align: center;
    height: 100%;
}
.buttons .previous::before {
    content:'\2190';
    color: #017069;
    font-size: 22px;
    padding-right: 10px;
    text-align: center;
    height: 100%;
}

.card {
    border: none;
}
.card-body .card-title {
    margin-top: 10px;
    font-size: 24px;
}