.quizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  gap: 2em;
}
.quizContainer > h3 {
  text-align: center;
}
.titleSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 20px;
  align-items: center;
}
.questionsSide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.correct,
.correct:hover {
  background-color: #2f922f;
}

.incorrect,
.incorrect:hover {
  background-color: #ff3333;
}

.answerButton {
  box-shadow: rgb(32 25 25 / 6%) 0px 4px 6px 0px;
  border: 3px solid rgba(0, 0, 0, 0);
  min-width: 14em;
  min-height: 5.5em;
  padding: 1.2em;
  border-radius: 4px;
  font-size: 1.5em;
}

.playAgainButton {
  box-shadow: rgb(32 25 25 / 6%) 0px 4px 6px 0px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  min-width: 12em;
  min-height: 3.5em;
  padding: 1em;
  border-radius: 4px;
  font-size: 1.5em;
}
/* .answerButton:hover {
  background-color: #FFB678;
} */
button[disabled] {
  background-color: #babfcf;
  color: #ffffff;
  cursor: not-allowed;
}
.questionNumber {
  display: flex;
  gap: 0.5em;
}
.nextQuestion {
  display: flex;
  height: 3em;
  align-items: center;
  font-size: 1.5em;
}
.timeQuestions {
  display: flex;
  align-items: center;
  gap: 1em;
}
button:focus {
  outline: none;
}
.nextQuestionButton {
  background: none;
  border: none;
}
.nextQuestionButton::after {
  content: "\2192";
  font-size: 1.5em;
  color: orangered;
}

.endGame {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
