.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.button-start {
  box-shadow: rgb(32 25 25 / 6%) 0px 4px 6px 0px;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  min-width: 12em;
  min-height: 3.5em;
  padding: 1em;
  border-radius: 4px;
  font-size: 1.5em;
}
